body {
  background-color: rgb(212, 226, 248);
}

#app {
  margin: 0 auto;
  padding: 2rem;
}

.title-form {
  text-align: center;
  text-decoration: underline solid #34dbd3;
  text-underline-offset: 10px;
}

a {
  color: rgb(0, 153, 102);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}